In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('submit.csv')

In [3]:
df.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [4]:
df['PassengerId'].values).tolist())

SyntaxError: invalid syntax (<ipython-input-4-20dffccf0bb7>, line 1)

list